*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
position:fixed;
background-color: red;
display: flex;
justify-content: flex-end;
width: 100%;
margin: auto;
top:0;
}   
#welcome-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    margin-top: 20px;
}
@media(max-width: 700px)and(min-width:300px)
{
    
}